mobileVisionExample/libs
.idea
.DS_Store
mobileVisionExample/gradle
mobileVisionExample/gradlew
mobileVisionExample/gradlew.bat
mobileVisionExample/build.gradle
mobileVisionExample/mobileVisionExample.iml
mobileVisionExample/res
mobileVisionExample/settings.gradle
ofxAndroidMobileVisionLib/ofxAndroidMobileVision.iml
